NEXTAUTH_SECRET=your-secret-here
NEXTAUTH_URL=http://localhost:3000
ADMIN_USER=your-username
ADMIN_PASSWORD=your-password
OMDB_API_KEY=your-omdb-api-key
DATABASE_URL=file:./dev.db
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_UPLOAD_PRESET=directors_cut
CLOUDINARY_TAG=pelicula
